.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


.rpad {
   padding: 0 !important;
   margin: 0 !important;
}

 
/*Override Bootstrap Font Size*/
.form-control, .control-label, .table {
    font-size: 12px;
}

 
 .table-borderless tr td, .table-borderless tr th, .table-borderless tr th {
    border: none;
}

